.venv
site/

*.egg-info/
__pycache__


# Ignore all .obsidian folders and their contents, anywhere
**/.obsidian/*

# Whitelist specific config files
!**/.obsidian/app.json
!**/.obsidian/community-plugins.json
!**/.obsidian/core-plugins-migration.json
!**/.obsidian/core-plugins.json

# Whitelist specific plugin files
!**/.obsidian/plugins/*

# Large files
*.png
*.jpg
*.jpeg
*.gif
